$colors: (
    main-color: #F1F3FF,
    main-color-overlay: rgba(241, 243, 255, 0.8),
    secondary-color: rgb(226, 237, 255),
    accent-color: #4764E6,
    accent-hover: rgb(101, 124, 226),
    input-label: #3a7575,
    border-color: #cbbcbc,
    danger: #292929,
    danger-hover: #811717,
    disabled: rgba(71, 100, 230, .75),
    disabled-text: #fceded
);

$shadows: (
    neumorphic-shadow-bottom: rgba(205, 207, 217, 0.6),
    neumorphic-shadow-top: rgba(255, 255, 255, 0.6),
    blue-shadow-bottom: rgba(60, 85, 196, 0.25),
    blue-shadow-top: rgba(82, 115, 255, 0.15)
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@function shadow($shadow-name){
    @return map-get($shadows, $shadow-name);
}