:root{
    --mainColor: #F1F3FF;
    --mainColorOverlay: rgba(241, 243, 255, 0.8);
    --secondaryColor: rgb(226, 237, 255);
    --accentColor: #4764E6;
    --accentHover: #657ce2;
    --inputLabel: #3a7575;
    --borderColor: #cbbcbc;
    --danger: #292929;
    --dangerButton: #292929;
    --dangerHover: #811717;
    --disabled: rgba(71, 100, 230, 0.75);
    --disabledText: #703232;

    --neumorphicShadowBottom: rgba(205, 207, 217, 0.6);
    --neumorphicShadowTop: rgba(255, 255, 255, 0.6);
    --blueShadowBottom: rgba(60, 85, 196, 0.25);
    --blueShadowTop: rgba(82, 115, 255, 0.15);
}