@import '../../shared/util/variables';

.place-item {
    margin: 3rem 0;
  }
  
  .place-item__content {
    padding: 0;
  }
  
  .place-item__info {
    padding: 2rem 3rem;

    h1{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 1rem;
        color: color(accent-color);
    }

    .info-title{
        margin-top: 20px;
        margin-bottom: 2px;
        font-size: 13px;
        font-family: 'Circular Std Bold';
        color: color(accent-color);
    }

    h2, h3, p {
        margin: 0 0 0.5rem 0;
    }

    p {
        text-align: justify;
        line-height: 22px;
        margin-bottom: 20px;
    }
  }
  
  .place-item__image {
    width: 100%;
    height: 18rem;
    margin-right: 1.5rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
  }
  
  .place-item__actions {
    padding: 1rem 2.7rem;
    text-align: right;
    border-top: 1px solid color(border-color);
  }
  
  .place-item__modal-content {
    padding: 0;
  }
  
  .place-item__modal-actions {
    text-align: right;

    button, a {
      margin: 0.5rem;
    }
  }
  
  .map-container{
    height: 15rem;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .place-item__image {
      height: 25rem;
    } 
  }