@import url('shared/fonts/fonts.css');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Circular Std Book', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Circular Std Bold', sans-serif
}

body {
  margin: 0;
  background: #F1F3FF;
}

p{
  font-size: 14px;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 300ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}