@import '../../util/variables';

.form-control {
    position: relative;
    margin-bottom: 32px;

    input, textarea{
        font-size: 15px;
        padding: 10px 10px 10px 5px;
        width: 100%;
        display: block;
        border: none;
        border-bottom: 1px solid color(input-label);
        background: transparent;
        font-family: 'Circular Std Book';

        &:focus{
            outline: none;
            border-bottom-color: transparent;
        }
    }

    label{
        color: color(input-label);
        font-size: 15px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    input:focus ~ label, textarea:focus ~ label, label.is-filled {
        top: -20px;
        font-size: 13px;
        color: color(accent-color);
    }

    .bar {
        position: relative;
        display: block;
        width: 100%;

        &::before{
            left: 50%;
        }

        &::after{
            right: 50%;
        }

        &::before, &::after{
            content: "";
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: color(accent-color);
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
    }

    input:focus ~ .bar:before,
    input:focus ~ .bar:after,
    textarea:focus ~ .bar:before,
    textarea:focus ~ .bar:after {
        width: 50%;
    }

    .highlight{
        position: absolute;
        height: 60%;
        width: 50px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    .form-control__error{
      color: #292929;
    }

    input:focus ~ .highlight, textarea:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }
}
  
  @-webkit-keyframes inputHighlighter {
    from {
      background: color(accent-color);
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  
  @keyframes inputHighlighter {
    from {
      background: color(accent-color);
    }
    to {
      width: 0;
      background: transparent;
    }
  }
 