@import '../../shared/util/variables';

.place-form {
    position: relative;
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 35px;
    width: 90%;
    max-width: 40rem;
    box-shadow: 12px 12px 20px -10px shadow(neumorphic-shadow-bottom), -10px -10px 16px 0 shadow(neumorphic-shadow-top);
    border-radius: 6px;
    background: color(main-color);
  }
  